*{
    margin: 0;
    padding: 0;
}

/*-----NavBar-----*/
#nav-bar{
    position: sticky; 
    top: 0;
    z-index: 10;
}

.navbar-brand img
{
    height: 40px;
    padding-left: 30px;
}

.navbar-nav li
{
    padding: 0 10px;
}

.navbar-nav li a
{
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover
{
    color: #007bff!important; /*Important is for overwriting the bootstrap classes*/
}

.navbar
{
    background: #FFFFFF;
    background-image: linear-gradient(to right, white, green,yellow, yellow);
}

.navbar-toggler
{
    border: none!important;
}

.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}

.d-block{
    background-size: 100%;
}
/***instant-contact***/
.icon{
    
}



/****Slider******/

#slider
{
    width: 80%;
    margin: 0px auto 0px auto;
}

.carousel-caption
{
    margin: auto;
    height: 60px;
    width: 400px;
    text-align: center;
}

.color-text{
    color: green;
}


/***********About Section*******************/
#about{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
#about .btn
{
    margin-top: 20px;
    margin-bottom: 30px;
}

.about-content{
    padding-top: 20px;
}

.skills-bar p {
    margin-bottom: 6px;
    font-weight: 600;
}

.progress-bar{
    border-radius: 16px;
}

.progress{
    border-radius: 16px !important;
}

.content{
    text-align: center;
    margin: 0px auto;
    overflow: hidden;
}
.content h2{
    padding-bottom: 10px;
}

marquee{
    text-align: center;
    border-radius: 10px;
    border-color: #4f98e6;
    border-style: solid;
    overflow: hidden;
    box-shadow: 2px 2px 5px grey;
}

.m-par{
    margin: auto;
    padding: 4px;
}
.dot {
    height: 5px;
    width: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
  }
/*******Our Services*******/
#services{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(images/Tax.jpg);
    background-size: cover;
    background-position:center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}

#services h1{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
}

#services h1::after{
    content: '';
    background-color: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.services{
    margin-top: 40px;
}
.icon{
    font-size: 40px;
    padding: 10px;
}

.services .col-md-3:hover{
    cursor: pointer;
    background: #007bff;
    border-radius: 10px;
    transition-timing-function: ease-in-out;
    transition: background 1s;
}

/******Why Choose Us**********/
#team h1{
    padding-top: 30px;
    text-align: center;
    color: black !important;
    padding-bottom: 10px;
}
/*
.dash{
    width: 60px;
    height: 60px;
    margin-left: 545px;
}

.dash1{
    width: 20px;
    height: 10px;
    background: green;
    text-align: center;
    margin-bottom: 10px;
}
.dash2{
    width: 20px;
    height: 10px;
    background: green;
    text-align: center;
    margin-bottom: 10px;
}
.dash3{
    width: 20px;
    height: 10px;
    background: green;
    text-align: center;
    margin-bottom: 10px;
}
*/

#team h1::after{
    content: '';
    background-color: green;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

#team h2{
    color: black;
}
#team{
    background-image: linear-gradient(#d4d5d6,#d4d5d6);
}


/****Get In Touch***/
#contact{
    background-image: url(images/contact.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}

#contact h1{
    text-align: center;
    color: black !important;
    padding-top: 20px;
    padding-bottom: 10px;
}

form{
    margin-top: 15px;
}
#contact h1::after{
    content: '';
    background-color: green;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.contact-form{
    padding: 15px;
}
.form-control{
    border-radius: 5px !important;
    border: none !important;
}

::placeholder{
    color: #999 !important;
}
.follow{
    background: #fff;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    color: rgb(46, 45, 45);
}

.contact-info .fa{
    margin: 10px;
    color: #007bff;
    font-weight: bold;
}
.contact-info .location, .email{
    cursor: pointer;
}

/******Footer*******/
#footer{
    background: #333;
    padding: 12px;
}

.circle{
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
}